#background{
    background: url(scene.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: 430px;
}
#road{
    background: url(road.jpg);
    height: 300px;
}
#bike{
    width: 200px;
    margin-top: 65px;
}
#btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
#bun{
    background-color: chartreuse;
    width: 100px;
    font-size: 30px;
    margin-top: 20px;
    cursor: pointer;
}
#bun1{
    background-color: red;
    width: 100px;
    font-size: 30px;
    margin-top: 20px;
    cursor: pointer;
}
#bun:hover{
    background: green;
    color: azure;
}
#bun1:hover{
    background: darkred;
    color: azure;
}